@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: 'none' !important; /* Safari and Chrome */
  }

  .scrollbar-default {
    -ms-overflow-style: 'auto'; /* IE and Edge */
    scrollbar-width: 'auto'; /* Firefox */
  }

  /* Safari and Chrome */
  .scrollbar-default::-webkit-scrollbar {
    display: 'block'; /* Safari and Chrome */
  }
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
